.background {
	position: relative;
    display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 32rem;
	overflow: hidden;
}

.video {
	position: absolute;
	inset: 0;

	width: 100%;
	height: 100%;

	object-fit: cover;
	object-position: center;

	z-index: 0;
}

.overlay {
	position: absolute;
	inset: 0;
	background: linear-gradient(
		to bottom,
		rgba(44, 30, 35, 0.7),
		rgba(65, 49, 61, 0.4)
	);

	z-index: 1;
}

.content {
	position: relative;
	width: 100%;
	z-index: 2;
}

// Tablet
@media (max-width: 768px) {
	.background {
		min-height: 28rem;
	}
}

// Mobile
@media (max-width: 480px) {
	.background {
		min-height: 26rem;
	}

	// .video {
	// 	object-position: center;
	// }
}