body {
  color: black;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.display_size {
  width: 85%;
  height: 300px;
  margin: 2rem;
  border-radius: 2px;
}

.details {
  padding-left: 2rem;
}
.display_cont {
  margin-top: 1rem;
  border-radius: 5px;
  background: white;
  width: 400px;
  height: 419px;
  box-shadow: -1px 2px 34px -13px rgba(0, 0, 0, 0.6);
  overflow: hidden;
}

/* 
.display_wrapper {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(3, 0.4fr);
  grid-gap: 1.5rem;
} */
