body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.imageSearch {
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
  position: relative;
  margin-top: 3rem;
}

.imageSearch__form input {
  margin: 0 auto;
  background-color: whitesmoke;
  border: transparent;
  border-radius: 3px;
  height: 35px;
  padding-bottom: 8px;
  width: 40%;
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 16px;
  color: rgb(31, 23, 25);
  z-index: -5;
}

.imageSearch__form input:focus {
  outline: none;
}

.imageSearch__form button {
  border: 0;
  border-radius: 4px;
  margin-left: 1rem;
  width: 7%;
  position: absolute;
  padding: 4px;
  background: transparent;
  border: solid 1px rgb(255, 245, 248);
  color: rgb(255, 245, 248);
}

.imageSearch__form button:hover {
  background: rgb(255, 255, 255, 0.2);
}
.heading,
p {
  text-align: center;
  color: white;
  font-family: "Raleway", sans-serif;
}
p {
  font-size: 20px;
}
.heading {
  font-size: 3rem;
  padding-top: 12rem;
}
.capture {
  text-align: center;
  padding-top: 6rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: rgb(4, 38, 75, 0.3);
}

#search {
  padding: 0.8rem;
}
#search:hover {
  color: rgb(255, 154, 137);
  cursor: pointer;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #search {
    padding: 0.8rem;
    font-size: 0.6rem;
  }
}
