body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.imageSearch {
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;
  position: relative;
  margin-top: 3rem;
}

.imageSearch__form input {
  margin: 0 auto;
  background-color: whitesmoke;
  border: transparent;
  border-radius: 3px;
  height: 35px;
  padding-bottom: 8px;
  width: 25%;
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 16px;
  color: rgb(31, 23, 25);
}

.imageSearch__form input:focus {
  outline: none;
}

.imageSearch__form button {
  border: 0;
  border-radius: 4px;
  margin-left: 1rem;
  width: 7%;
  position: absolute;
  padding: 4px;
  background: transparent;
  border: solid 1px rgb(255, 245, 248);
  color: rgb(255, 245, 248);
}

.imageSearch__form button:hover {
  background: rgb(255, 255, 255, 0.2);
}
.heading,
p {
  text-align: center;
  color: white;
}
p {
  font-size: 20px;
}
.heading {
  font-weight: 700;
  padding-top: 10rem;
}
