.imageView__container {
  width: 100%;
  text-align: center;
  color: #04264b;
  margin-left: 9rem;
}

.imageView__img {
  width: 900px;
  height: 600px;
}

.imageView__copyright {
  color: #8f8f8f;
}
.owner {
  color: #04264b;
}
.imageView__text {
  margin-top: 1rem;
}
.download,
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: tomato;
}
.imageView__text h4,
h5,
span {
  letter-spacing: 1px;
  color: #04264b;
  font-family: "Raleway", sans-serif;
}

.home_btn {
  display: flex;
  justify-content: center;
}
button {
  color: #04264b;
}
