.head {
  margin-top: 1rem;
}

#links {
  text-decoration: none;
  padding: 1.4rem;
  padding-bottom: 13px;
  color: #04264b;
}
#links:hover {
  border-bottom: 2px solid #04264b;
}
#logo {
  text-decoration: none;
  font-size: 1.7rem;
  color: #04264b;
  padding: 0.5rem 2rem 2rem 2rem;
}

.wrap {
  display: flex;
  height: 3.5rem;
  position: fixed;
  width: 100%;
  background: white;
  box-shadow: -1px 2px 34px -13px rgba(0, 0, 0, 0.6);
}
