.head {
  margin-top: 1rem;
  margin-left: 75rem;
}

#links {
  text-decoration: none;
  padding: 1.4rem;
  padding-bottom: 13px;
  color: #04264b94;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
#links:hover {
  border-bottom: 2px solid tomato;
  color: tomato;
}
#logo {
  text-decoration: none;
  font-size: 1.7rem;
  color: #04264b;
  padding: 0.5rem 2rem 2rem 2rem;
}

.wrap {
  display: flex;
  height: 3.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  box-shadow: -1px 2px 34px -13px rgba(0, 0, 0, 0.6);
  z-index: 1;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .head {
    margin-left: 20rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .head {
    margin-left: 35rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .head {
    margin-left: 75rem;
  }
}
