.container {
  margin-top: 15rem;
}

.row {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(3, 0.4fr);
  grid-gap: 1.5rem;
}

.imageList__container {
  border-radius: 2px;
  box-shadow: -1px 2px 34px -13px rgba(0, 0, 0, 0.6);
  text-align: left;
  overflow: hidden;
}

.imageList__image {
  width: 100%;
  height: 250px;
}

.image__details button {
  width: 100%;
  border: 0;
  border-radius: 2px;
  background-color: rgba(238, 228, 228, 0.9);
  color: #04264b;
}
